.env

tuner/epgstation/config/*
!tuner/epgstation/config/*.js
!tuner/epgstation/config/*.template
tuner/epgstation/data/*
tuner/epgstation/logs/*
tuner/epgstation/thumbnail/*

tuner/mirakurun/config/*
tuner/mirakurun/data/*
!tuner/mirakurun/config/server.yml
!tuner/mirakurun/config/tuners.yml

tuner/db/*

cloudflare-ddns/config.json

bluemap/data/logs
bluemap/data/web/assets
bluemap/data/web/lang
bluemap/data/web/maps
bluemap/data/web/index.html
bluemap/data/web/sql.php
bluemap/data/minecraft-client-*.jar
bluemap/data/resourceExtensions.zip
nohup.out

owncast/data

nextcloud/html
nextcloud/postgres
adguard/work/data/filters/1.txt
adguard/work/data/stats.db
adguard/work/data/sessions.db
adguard/work/data/querylog.json*

!.gitkeep