.env

dtv/EPGStation
dtv/KonomiTV
dtv/Mirakurun
dtv/mysql

cloudflare-ddns/config.json

minecraft/paper/cache
minecraft/paper/config
minecraft/paper/libraries
minecraft/paper/logs
minecraft/paper/versions
minecraft/paper/world
minecraft/paper/world_nether
minecraft/paper/world_the_end
minecraft/paper/.*
minecraft/paper/*.*
!minecraft/paper/spigot.yml
!minecraft/paper/bukkit.yml
!minecraft/paper/server.properties
!minecraft/paper/config/
minecraft/paper/plugins/*
!minecraft/paper/plugins/*.jar
minecraft/paper/crash-reports/
minecraft/waterfall/logs
minecraft/waterfall/modules
minecraft/waterfall/plugins/*
!minecraft/waterfall/plugins/*.jar
minecraft/waterfall/locations.yml
minecraft/waterfall/modules.yml
minecraft/bluemap/logs
minecraft/bluemap/web/assets
minecraft/bluemap/web/lang
minecraft/bluemap/web/maps
minecraft/bluemap/web/index.html
minecraft/bluemap/web/sql.php
minecraft/bluemap/minecraft-client-*.jar
minecraft/bluemap/resourceExtensions.zip
minecraft/db/data
minecraft/db/log
minecraft/db/my.cnf

nohup.out
