[submodule "certificates"]
	path = certificates
	url = https://github.com/iamtakagi/certificates
[submodule "konomitv"]
	path = tuner/konomitv
	url = https://github.com/tsukumijima/KonomiTV
[submodule "tuner/mirakurun/libarib25"]
	path = tuner/mirakurun/libarib25
	url = https://github.com/stz2012/libarib25
[submodule "tuner/mirakurun/recpt1"]
	path = tuner/mirakurun/recpt1
	url = https://github.com/stz2012/recpt1
[submodule "minecraft"]
	path = minecraft
	url = https://github.com/iamtakagi/infrastructure