dtv/EPGStation
dtv/KonomiTV
dtv/Mirakurun
dtv/mysql

cloudflare-ddns/config.json

minecraft/data/cache
minecraft/data/config
minecraft/data/libraries
minecraft/data/logs
minecraft/data/versions
minecraft/data/world
minecraft/data/world_nether
minecraft/data/world_the_end
minecraft/data/.*
minecraft/data/*.*

!minecraft/data/spigot.yml
!minecraft/data/bukkit.yml
!minecraft/data/server.properties
!minecraft/data/config/

minecraft/data/plugins/*
!minecraft/data/plugins/*.jar